{% extends 'avisota/message/renderer/default/mce_container.html.twig' %}
{% import "avisota/message/renderer/default/mce_macros.html.twig" as mce %}

{% set headline = headline|deserialize(true) %}
{% set hl = headline.unit ? headline.unit : 'h1' %}
{% set headline = headline.value %}

{% block content %}
	{% spaceless %}
		{% if headline %}
			<{{ hl }}>{{ headline }}</{{ hl }}>
		{% endif %}
		<table summary="{{ tableSummary }}">
			{% set start = 0 %}
			{% set end = tableHeader|length %}
			{% if tableHeader %}
				<thead>
				{% set row = tableItems|first %}
				{% set start = 1 %}
				{% set end = end - 1 %}
				<tr>
					{% for cell in row %}
						<th>{{ cell }}</th>
					{% endfor %}
				</tr>
				</thead>
			{% endif %}

			{% if tableFooter %}
				<tfoot>
				{% set row = tableItems|last %}
				{% set end = end - 1 %}
				<tr>
					{% for cell in row %}
						<th>{{ cell }}</th>
					{% endfor %}
				</tr>
				</tfoot>
			{% endif %}

			<tbody>
			{% for row in tableItems|slice(start, end) %}
				<tr>
					{% for cell in row %}
						<th>{{ cell }}</th>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endspaceless %}
{% endblock %}
